<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_alignment</key>
	<string>left</string>
	<key>BAT_mini_color</key>
	<string>monochrome</string>
	<key>BAT_mini_label</key>
	<false/>
	<key>Battery_barChart_position</key>
	<integer>2</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>3</integer>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_label_position</key>
	<integer>4</integer>
	<key>Battery_mini_position</key>
	<integer>1</integer>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>1</integer>
	<key>CPU_chartColor</key>
	<string>system</string>
	<key>CPU_idleColor</key>
	<string>lightGray</string>
	<key>CPU_label_position</key>
	<integer>3</integer>
	<key>CPU_lineChartFixedScale</key>
	<integer>100</integer>
	<key>CPU_lineChartScale</key>
	<string>fixed</string>
	<key>CPU_lineChart_position</key>
	<integer>5</integer>
	<key>CPU_mini_alignment</key>
	<string>left</string>
	<key>CPU_mini_color</key>
	<string>monochrome</string>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_notifications_eCoresLoad_state</key>
	<false/>
	<key>CPU_notifications_pCoresLoad_state</key>
	<false/>
	<key>CPU_notifications_sCoresLoad_state</key>
	<false/>
	<key>CPU_notifications_systemLoad_state</key>
	<false/>
	<key>CPU_notifications_systemLoad_value</key>
	<integer>30</integer>
	<key>CPU_notifications_totalLoad_state</key>
	<false/>
	<key>CPU_notifications_totalLoad_value</key>
	<integer>90</integer>
	<key>CPU_notifications_userLoad_state</key>
	<false/>
	<key>CPU_notifications_userLoad_value</key>
	<integer>70</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_processes</key>
	<integer>8</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_systemColor</key>
	<string>secondRed</string>
	<key>CPU_tachometer_position</key>
	<integer>2</integer>
	<key>CPU_userColor</key>
	<string>secondBlue</string>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_ntpSync</key>
	<false/>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<false/>
	<key>Clock_widget</key>
	<string>sensors</string>
	<key>CombinedModules</key>
	<false/>
	<key>Disk_ATASMART</key>
	<true/>
	<key>Disk_barChart_position</key>
	<integer>6</integer>
	<key>Disk_label_position</key>
	<integer>7</integer>
	<key>Disk_mainColor</key>
	<string>secondBlue</string>
	<key>Disk_memory_orderReversed</key>
	<true/>
	<key>Disk_memory_position</key>
	<integer>0</integer>
	<key>Disk_memory_symbols</key>
	<false/>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>3</integer>
	<key>Disk_notifications_utilization_state</key>
	<true/>
	<key>Disk_notifications_utilization_value</key>
	<integer>95</integer>
	<key>Disk_pieChart_position</key>
	<integer>2</integer>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_processes</key>
	<integer>5</integer>
	<key>Disk_readColor</key>
	<string>secondOrange</string>
	<key>Disk_removable</key>
	<true/>
	<key>Disk_reverseOrder</key>
	<true/>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_text_position</key>
	<integer>4</integer>
	<key>Disk_updateInterval</key>
	<integer>10</integer>
	<key>Disk_widget</key>
	<string>memory</string>
	<key>Disk_writeColor</key>
	<string>secondBlue</string>
	<key>E2BAB217-88F5-4717-8558-EEF97916E7FF_details</key>
	<true/>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_gpu</key>
	<string>automatic</string>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>2</integer>
	<key>GPU_mini_alignment</key>
	<string>left</string>
	<key>GPU_mini_position</key>
	<integer>0</integer>
	<key>GPU_notifications_usage_state</key>
	<false/>
	<key>GPU_notifications_usage_value</key>
	<integer>100</integer>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>mini</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va7ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAJABAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAAEAAAAAEB
	AABraXNob3ItcmFqYmFuc2hpBwAAAAEBAABEZXNrdG9wAAwAAAABBgAAEAAAACAAAAA4
	AAAACAAAAAQDAAArQwAAAAAAAAgAAAAEAwAAUWIAAAAAAAAIAAAABAMAAFZiAAAAAAAA
	DAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHG1RdMgAAAGAAAAAECAAACAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtz
	AAAACAAAAAAEAABBx9+ALwAAACQAAAABAQAANjEyMDgwODMtQjU2OS00NUQ1LUJFNEEt
	QUY0NjdFRjREMDZFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQ
	AACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAACEAQAAAAAAAAUgAAD0AAAAAAAAABAgAAAE
	AQAAAAAAABEgAAA4AQAAAAAAABIgAAAYAQAAAAAAABMgAAAoAQAAAAAAACAgAABkAQAA
	AAAAADAgAADQAAAAAAAAAAHAAADYAAAAAAAAABHAAAAgAAAAAAAAABLAAADoAAAAAAAA
	AAHQAADQAAAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 230.000000, 262.000000, NO, NO</string>
		<string>0.000000, 263.000000, 230.000000, 67.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>610</real>
	<key>NSStatusItem Preferred Position Disk_memory</key>
	<real>360</real>
	<key>NSStatusItem Preferred Position GPU_mini</key>
	<real>563</real>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<real>492</real>
	<key>NSStatusItem Preferred Position RAM_memory</key>
	<real>426</real>
	<key>NSStatusItem Preferred Position Remote_label</key>
	<real>338</real>
	<key>NSStatusItem Restore Position Battery_mini</key>
	<integer>332</integer>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 176 250 297 0 0 1728 1084 </string>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>448 422 728 480 0 0 1728 1084 </string>
	<key>Network_base</key>
	<string>bit</string>
	<key>Network_chartScale</key>
	<string>none</string>
	<key>Network_emojiCC</key>
	<true/>
	<key>Network_interfaceDetails</key>
	<true/>
	<key>Network_label_position</key>
	<integer>4</integer>
	<key>Network_networkChart_position</key>
	<integer>3</integer>
	<key>Network_notifications_connection_state</key>
	<false/>
	<key>Network_notifications_connection_threshold</key>
	<integer>10</integer>
	<key>Network_notifications_interface_state</key>
	<false/>
	<key>Network_notifications_localIP_state</key>
	<false/>
	<key>Network_notifications_publicIP_state</key>
	<false/>
	<key>Network_notifications_wifi_state</key>
	<false/>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_publicIP</key>
	<true/>
	<key>Network_publicIPRefreshInterval</key>
	<string>hour</string>
	<key>Network_reader</key>
	<string>interface</string>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_uploadColor</key>
	<string>secondRed</string>
	<key>Network_speed_value</key>
	<true/>
	<key>Network_speed_valueAlignment</key>
	<string>right</string>
	<key>Network_speed_valueColor</key>
	<string>none</string>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>1</integer>
	<key>Network_text_position</key>
	<integer>2</integer>
	<key>Network_usageReset</key>
	<string>Once per day</string>
	<key>Network_usageReset_next</key>
	<integer>1790014500</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>1</integer>
	<key>Network_widgetActivationThresholdSize</key>
	<string>KB</string>
	<key>Network_widgetActivationThresholdState</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>5</integer>
	<key>RAM_combinedProcesses</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>7</integer>
	<key>RAM_lineChartScale</key>
	<string>fixed</string>
	<key>RAM_lineChart_position</key>
	<integer>3</integer>
	<key>RAM_memory_color</key>
	<string>monochrome</string>
	<key>RAM_memory_orderReversed</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>0</integer>
	<key>RAM_memory_symbols</key>
	<false/>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_notifications_free_state</key>
	<false/>
	<key>RAM_notifications_free_value</key>
	<integer>10</integer>
	<key>RAM_notifications_pressure_state</key>
	<true/>
	<key>RAM_notifications_pressure_value</key>
	<string>critical</string>
	<key>RAM_notifications_swap_state</key>
	<true/>
	<key>RAM_notifications_swap_value</key>
	<integer>2</integer>
	<key>RAM_notifications_total_state</key>
	<false/>
	<key>RAM_notifications_total_value</key>
	<integer>95</integer>
	<key>RAM_pieChart_position</key>
	<integer>8</integer>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>RAM_processes</key>
	<integer>10</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>4</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>2</integer>
	<key>RAM_widget</key>
	<string>memory</string>
	<key>Remote_label_position</key>
	<integer>0</integer>
	<key>Remote_position</key>
	<integer>9</integer>
	<key>Remote_state</key>
	<true/>
	<key>Remote_state_position</key>
	<integer>1</integer>
	<key>Remote_widget</key>
	<string>label</string>
	<key>Sensors_barChart_position</key>
	<integer>1</integer>
	<key>Sensors_fanControl</key>
	<false/>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>Sensors_stack_position</key>
	<integer>3</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>dockIcon</key>
	<false/>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>5777</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>5777</integer>
	<key>keep_menubar_positions</key>
	<true/>
	<key>remote_control</key>
	<false/>
	<key>remote_id</key>
	<string>45592A72-1746-49B4-B4CA-3A9575A222F4</string>
	<key>remote_monitoring</key>
	<true/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>remote_update</key>
	<true/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_pending</key>
	<false/>
	<key>support_pending_ts</key>
	<integer>1787538696</integer>
	<key>support_ts</key>
	<integer>1787538696</integer>
	<key>updater_check_ts</key>
	<integer>1790003908</integer>
	<key>updater_install_ts</key>
	<integer>1789959631</integer>
	<key>version</key>
	<string>3.0.17</string>
</dict>
</plist>
